<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Families -->
      <package
            uri="https://ict.hvl.no/people/patrick-stunkel/metamodels/Families.ecore"
            class="Families.FamiliesPackage"
            genModel="model/Families.genmodel"/>
   </extension>

</plugin>
